.chessboard-wrapper {
  overflow: hidden;
  /*width: 320px;*/
  /*height: 320px;*/
}

body,
.chessboard {
  padding: 0;
  margin: 0;
}

.chessboard {
  position: relative;
  width: 480px;
  height: 480px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /*-webkit-transform: scale(0.6667);*/
  /*-webkit-transform-origin: 0 0;*/
}

.piece,
.field {
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
}

.field.light {
  background-color: #f0d9b5;
}

.field.dark {
  /*background-color: red;*/
  background-color: #b58863;
}

.piece {
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -ms-transition: -ms-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

.pawn-white { background-image: url(../images/wp.png); }
.knight-white { background-image: url(../images/wn.png); }
.bishop-white { background-image: url(../images/wb.png); }
.rook-white { background-image: url(../images/wr.png);}
.queen-white { background-image: url(../images/wq.png); }
.king-white { background-image: url(../images/wk.png); }

.pawn-black { background-image: url(../images/bp.png); }
.knight-black { background-image: url(../images/bn.png); }
.bishop-black { background-image: url(../images/bb.png); }
.rook-black { background-image: url(../images/br.png);}
.queen-black { background-image: url(../images/bq.png); }
.king-black { background-image: url(../images/bk.png); }
